@import url("https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  overflow: hidden;
}
:root {
  --color-dark-gray: #222831;
  --color-gray: #31363f;
  --color-light-blue: #76abae;
  --color-silk: #eeeeee;
  --color-yellow: #ffe900;
}
.main-container {
  @apply bg-[var(--color-dark-gray)];
}
.silk {
  @apply text-[var(--color-silk)];
}
.gray {
  @apply text-[var(--color-gray)];
}
.light-blue {
  @apply text-[var(--color-light-blue)];
}
.dark-gray {
  @apply text-[var(--color-dark-gray)];
}
.list-item {
  @apply cursor-pointer;
  @apply text-xl;
  @apply hover:text-[var(--color-yellow)];
}
.highlight-item {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-[var(--color-yellow)] to-purple-300;
}
.line-break {
  @apply w-[90%] border-[var(--color-yellow)] border-0 border-t-[1px];
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}
.skills-icon {
  width: 50px; /* reduced the size by 30px */
  height: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  object-fit: cover;
  background-color: var(--color-silk);
  margin: 5px; /* added 5px margin to space them apart */
  padding: 5px;
}

.skills-icon:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.skills-icon:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.skills-icon:hover::after {
  content: attr(alt);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
